/****** 
Style sheet for Responsive Landing Page Example
------------------------------------------------*/

/* Global */
* {margin: 0 auto;}

html {
	font-size: 67.5%;
	color: #636d83;
}

/* Text */
p, h1, h2, h3 {font-family: 'Open Sans', sans-serif;}
h1, h2, footer {color: #edf0f7;}

h1 {
	font-size: 4.6rem;
	font-weight: 700;
	text-transform: uppercase;
}

h2 {
	font-weight: 300;
	font-size: 2.1rem;
	font-style: italic;
}

h3 {
	font-weight: 600;
	font-size: 2.2rem;
	padding: 2em 0;
}

p {
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 2.1rem;
}

/** Section 01*/
.hero p {color: #c0c8dc;}
/** Section 02 */
article p {padding: 0 0 3em;}
/** Section 03 */
.three-columns h3 {padding: 2em 0 0.8em;}
/** Footer */
footer p {padding: 0.7em 0 0;}
footer a {color: #fbfcfd;}

/* Layout and Positioning */
section {
	width: 100%;
	height: 100%;
}

.content {
	padding: 3em;
	width: 1200px;
}

.position-relative {position: relative;}

.horizontal-and-vertical-center {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.margin-left-3em {margin: 0 0 0 3em;}
.color-44597f {background: #44597f;}

/** Floats */
.float-left {float: left;}
.float-right {float: right;}

/** Columns */
.width-30 {
	width: 30%;
}

.width-35 {
	width: 35%;
}

.width-60 {
	width: 60%;
}

.width-80 {
	width: 80%;
}

/** Image boxes */
.image-boxes {
	background: #d9dfed;
	border: #a3acc1 1px;
	border-radius: 4px;
}
/*** Section 02 */
.content-text {display: flex;}
.flex-item-big {flex: 2;}
.flex-item-small {flex:1;}
.flex-small .image-boxes {
	margin: 3em;
	width: 400px;
	height: 300px;
}
/*** Section 03 */
article .image-boxes {
	width: 100%;
	height: 250px;
	margin: 0 0 1em 0;
}

/** Section 01 */
.hero {
	min-height: 500px;
	text-align: center;
}
/** Section 03 */
.quote {
	min-height: 300px;
	text-align: center;
}
/** Footer */
footer {
	min-height: 100px;
	width: 100%;
	float: left;
}




/*------------------------------------------------ 
Media Queries
------------------------------------------------*/

@media screen and (min-width: 320px) {

	/* Text */
	h1 {font-size: 3.0rem;}
	h2 {font-size: 1.8rem;}
	h3 {padding: 1em 0;}
	/* Section 01 */
	.hero {min-height: 600px;}
	/* Section 02 */
	.content-text {
		width: 300px;
		flex-direction: column;
		padding: 1em;
	}

	.flex-small .image-boxes {
		margin: 1em 0 0;
		width: 300px;
	}

	#switch > div:nth-child(1) {order: 2;} /*NOTE: Switches Order*/
	/* Section 04 */
	.content {width: 300px;}
	.margin-left-3em {margin: 0;}
	/* Section 02 AND 04*/
	.width-60, .width-30 {width: 100%;}
}

@media only screen and (min-width: 680px), only screen and (min-width: 980px) {
	
	/* Text */
	h1 {font-size: 4.6rem;}
	h2 {font-size: 2.1rem;}
	/*Section 02*/
	.content-text {flex-direction: row;}
	/*Section 04*/
	.width-30 {width: 30%;}
	.margin-left-3em {margin: 0 0 0 3em;}
}

@media only screen and (min-width: 680px) {

	/*Section 02*/
	.content-text {width: 660px;}
	#switch > div:nth-child(1) {order: 1;}  /*NOTE: Switches Order*/
	.flex-item-big {flex: 2;}
	.flex-item-small {flex:1;}
	/*Section 04*/
	.content {width: 640px;}
}

@media only screen and (min-width: 980px) {

	/*Section 02*/
	.content-text {width: 1200px;}

	.flex-small .image-boxes {
	margin: 3em;
	width: 400px;
	height: 300px;
	}

	.flex-big {margin: 2em 0;}
	#switch > div:nth-child(2) {order: 2;} /*NOTE: Switches Order*/
	/*Section 04*/
	.content {width: 1200px;}
}

/*
	Made in 2015 by Chris Hall. 
	Feel free to use as you wish.
	This is a CC0 1.0 Universal (CC0 1.0) Public Domain Dedication
*/